<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thorxh.xh.photoalbum.mapper.AlbumMapper">
    <resultMap id="baseResultMap" type="com.thorxh.xh.photoalbum.entity.DO.Album">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="cover_path" jdbcType="VARCHAR" property="coverPath"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="creater_id" jdbcType="INTEGER" property="createrId"/>
    </resultMap>

    <select id="getAll" resultMap="baseResultMap">
        SELECT id, status, create_time, modify_time, name, cover_path, description, creater_id
        FROM photo_album
    </select>

    <select id="findByCreaterId" resultMap="baseResultMap">
        SELECT id, status, create_time, modify_time, name, cover_path, description, creater_id
        FROM photo_album
        WHERE creater_id = #{createrId}
    </select>

</mapper>